[user]
	name = Alex Taylor
	email = alexmctaylorpants@gmail.com
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[push]
	default = simple
[core]
	editor = /usr/local/bin/nvim
	excludesfile = /Users/alextaylor/.gitignore_global
[branch]
  autosetuprebase = always

[user]
  name = Alex Taylor
  email = alex.taylor@clio.com

[github]
  user = alextaylor000
[url "git@github.com:"]
	insteadOf = https://github.com/

[alias]
	bisect-fails = bisect bad
	bisect-passes = bisect good
